/*
	modified from chris stein theme
	basic site info
*/

/* flex sticky footer 
	https://css-tricks.com/couple-takes-sticky-footer/
*/
html, body {
	height: 100%;
}

body {
	// display: flex;
	flex-direction: column;
}

#content {
	flex: 1 0 auto;
}

#footer {

	flex-shrink: 0;

	background: $bmcc-blue;
	color: $text-color;
	font-family: $text;
	// border-top: 2px solid $text-color;

	.two-column {
		display: grid;
		padding: 1em;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2em;
	}

	#bmcc-logo {
		max-width: 300px;
	}

	
	.bottom {
		padding: 0.25em 1em;
		color: $text-color;
		border-top: 2px solid $bmcc-orange;
	}
}