#features {
	
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	/**/

	.feature {

		opacity: 0;
		transition: opacity 1000ms ease-in-out;
		&:first-child {
			opacity: 1;
		}

		.info {
			font-family: $title;
			
			background-color: $bmcc-blue;
			& a {
				color: $text-color;
			}
			border: 2px solid $bmcc-orange;
			position: absolute;
			bottom: 4em;
			right: 4em;

			padding: 0.5em 1em;

			z-index: 1;
			transition: background-color 300ms;
 			&:hover { 
				/*background-color: $bmcc-blue;*/
 			}

			.title {
				font-size: 4em;

				
				
			}
			.course, .major {
				/*font-family: $text;*/
				font-weight: 300;
				
			}

			a:hover {
				text-decoration: none;
				background: linear-gradient(to bottom, $bmcc-blue 40%, $bmcc-orange 40%);
			}

		}

		.image {
			height: 100%;
			width: 100%;
			position: fixed;
			display: flex;
			align-items: center;

			img {
				width: 100%;
				height: auto;
				vertical-align: middle;
				line-height: 100%;
			}
		}
	}
}
