#features {
	
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	background: $bmcc-blue;

	/**/

	.feature {

		opacity: 0;
		transition: opacity 1000ms ease-in-out;
		&:first-child {
			opacity: 1;
		}

		.info {
			font-family: $title;
			
			background-color: $bmcc-blue;
			border: 2px solid $text-color;

			position: absolute;
			bottom: 4em;
			right: 4em;

			padding: 0.5em 2em;

			text-align: right;

			z-index: 1;
			transition: background-color 300ms;


			.title {
				font-size: 4em;
			}
			.students {
				font-size: 1.5em;
				font-weight: 300;
			}
			.course, .major {
				/*font-family: $text;*/
				font-weight: 300;
			}
			a { 
				color: $text-color; /* $text-color; */
				background: linear-gradient(to bottom, transparent 40%, transparent 40%);
				transition: background 300ms; 
			}
			a:hover {
				text-decoration: none;
				background: linear-gradient(to bottom, transparent 40%, $bmcc-orange 40%);
			}

		}


		.image, .video {
			height: 100%;
			width: 100%;
			position: fixed;
			display: flex;
			align-items: center;

			img, video {
				width: 100%;
				height: auto;
				vertical-align: middle;
				line-height: 100%;
			}
		}
	}
}

#start {
	position: fixed;
    top: 2px;
    right: 2px;
    z-index: 99;
    font-size: 2em;	
}