/* some common styles between page, grid collections and single projects */

.taxonomy-info {
	max-width: 1600px;
	margin: 0.5em auto;
}

.header { 
	padding: 2.5em 5em;
	margin-top: 2.5em;
}

.page, .post, .archive {
	.title {
		font-size: 3em;
		color: $text-color;
	}
	.page-header {
		font-family: $text;
		border-bottom: 2px solid $bmcc-orange;
		padding: 0 5rem;
		margin-top: 5rem;
	}
	.content {
		font-size: 1.4em;
		font-family: $body;
		line-height: 1.4;
		color: $text-color;
		padding: 0 5rem;
		margin-top: 2.5rem;
	}
}