/* default for grid is 2 projects per row */
/* 3 projects per row */
@media screen and (min-width: 1600px) {
	.archive .projects-grid {
		.project {
			min-width: calc(100%/3);
			max-width: calc(100%/3);
		}
	}
}

/* 1 project per row */
@media screen and (max-width: 800px) {
	.archive .projects-grid {
		.project {
			min-width: 100%
		}
	}
}

/* menu takes up two lines */
@media screen and (min-width: 415px) and (max-width: 700px) {
	.container {
		margin-top: 7em;
	}
}



/* mobile */
@media screen and (max-width: 414px) {
	#home-link { display: none; }
	/*#main-menu.menu.open { display: none; }*/
	.menu { padding: 0; }
	#main-menu .menu-item { 
		flex: 100%; 
		border-left: none;
	}

	.sub.menu .menu-item {
		flex: 100%;
		border-left: none;
		line-height: 1.5;
		display: flex;
		justify-content: center;
	}

	#major-menu {
		margin-top: -4em;
		position: relative;
	}

	.page .content {
		padding: 0 1rem;
	}

	#footer .two-column {
		grid-template-columns: 100%;
		grid-gap: 0;
	}

	.container {
		margin-top: -5em;
	}

	.archive, .page {
		.page-header {
			margin-top: 1rem;
			padding: 0 1rem;
			font-size: 2em;
			padding-left: 2.5em;
			text-align: right;
		}
		.content {
			padding: 0 1rem;
			margin-top: 0;
		}
		.projects-grid {
			.project .info {
				opacity: 1;
				/*background: none;*/
				background: rgba($bmcc-blue, 0.95);
				padding: 0;
				padding-left: 1em;
				bottom: 2em;
				top: auto;
				font-size: 0.75em;
			}
		}
	}

	.single {
		.post {
			margin-top: -5em;
			.post-header {
				.title {
					font-size: 3em;
					padding-left: 2.5em;
					left: 0;
					top: 1em;
					bottom: auto;
				}
			}
		}
		.info {
			/*flex-direction: row-reverse;*/
			font-size: 1em;
		}
		.student, .major, .course {
			flex: 100%;
			.label {
				font-size: 5em;
			}
		}
		.major, .course {
			.value { font-size: 0.75em; }
		}

		.main-content {
			padding: 0 1rem;
			font-size: 1em;

		}

		.post-footer.menu {
			.menu-item {
				font-size: 1.5em;
				border-left: none;
				flex: 100%;
				line-height: 1.25;
				padding: 0.25em 0;
				height: auto;
			}
		}

	}

	#features .feature {
		.info {
			right: 0;
			left: 0;
			border-right: none;
			border-left: none;
		}
		.image {
			display: block;
			top: 6em;
		}
	}

}
