#header {
	position: relative;
	z-index: 99;
	height: 5em;
}

#main-menu {

	.menu-item {
		line-height: 2.5em;
		height: 2.5em;

	}

	.menu-item:first-child {
		border-left: none;
		padding-left: 2.5em;
	}
}

#logo {
	position: absolute;
	cursor: pointer;
	svg {
		width: 5em;
		height: 5em;
		* { transition: fill 300ms; }
		&:hover * {
			fill: $bmcc-orange;
		}
	}
}

.menu {

	/*background: white;*/
	background-color: $bmcc-blue;


	color: $text-color;
	& a {
		color: $text-color;
	}
	
	font-family: $text;
	font-weight: 300;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;

	display: none;
	&.open {
		display: flex;
	}
	
	.menu-item {

		flex: 1 0 auto;

		font-size: 2em;
		
		text-align: center;
		border-bottom: 2px solid $bmcc-orange;
		border-left: 2px solid $bmcc-orange;
	
		padding: 0 1em;
		cursor: pointer;
		transition: background-color 300ms;

		/*line-height: 0;*/
		line-height: 2;


 		&:hover { 
			background-color: $bmcc-orange;
 		}
 		&:hover, & a:hover {
 			text-decoration: underline;
 		}
	}

	&.course .menu-item {
 		font-size: 1.5em;

 	}
}
