#header {
	position: relative;
	z-index: 99;
}

#logo {
	position: absolute;
	cursor: pointer;
	svg, img {
		width:  4em;
		height: 4em;
		* { transition: fill 300ms; }
		&:hover * { fill: $bmcc-orange; }
		position: relative;
		z-index: 9;
	}

	span {
		color: $bmcc-orange;
		font-size: 2em;
		font-family: $text;
		height: 2.5em;
		vertical-align: middle;
		display: inline-block;
		position: relative;
		z-index: -1;
		margin-left: 0.5em;
	}
}

#home #logo svg {
	* { fill: $bmcc-blue; }
	&:hover * { fill: $text-color; }
}


#main-menu {
	position: relative;
	z-index: 1;

	.menu-item {
		line-height: 3em;
		height: 3em;
		// text-decoration: underline;
	}

	.menu-item:first-child {
		border-left: none;
		padding-left: 3em;
	}
	/*display: flex;*/
}

#course-menu {
	.menu-item a { font-size: 0.85em; }
}


.menu {

	background-color: $bmcc-blue;

	color: $text-color;
	& a { color: $text-color; }
	
	font-family: $text;
	font-weight: 300;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;

	display: none;
	
	&.open { display: flex; }
	
	.menu-item {
		flex: 1 0 auto;
		font-size: 1.3em;
		text-align: center;
		// border-bottom: 2px solid $bmcc-orange;
		// border-left: 2px solid $bmcc-orange;
		border-bottom: 2px solid $text-color;
		padding: 0 1em;
		cursor: pointer;
		transition: background-color 300ms;

		/*line-height: 0;*/
		line-height: 2;

 		&:hover { 
			background-color: $bmcc-orange;
 		}
 		&:hover, & a:hover {
 			text-decoration: underline;
 		}
	}

	&.course .menu-item {
 		font-size: 1.5em;

 	}

 	&#major-menu, &#course-menu {
 		.menu-item {
 			border-left: 2px solid $text-color;
 		}
 	}
}
