#header {
	position: relative;
	z-index: 99;
	background-color: $bmcc-blue;
}

#logo {
	position: absolute;
	cursor: pointer;
	svg, img {
		width:  4em;
		height: 4em;
		* { transition: fill 300ms; }
		&:hover * { fill: $bmcc-orange; }
		position: relative;
		z-index: 9;
	}

	span {
		color: $bmcc-orange;
		font-size: 2em;
		font-family: $text;
		height: 2.5em;
		vertical-align: middle;
		display: inline-block;
		position: relative;
		z-index: -1;
		margin-left: 0.5em;
	}
}

#home #logo svg {
	* { fill: $bmcc-blue; }
	&:hover * { fill: $text-color; }
}

#main-menu {
	position: relative;
	z-index: 1;

	.menu-item {
		line-height: 3em;
		height: 3em;
		// text-decoration: underline;
	}

	#about-link:hover {
		background-color: unset;
	}

	.menu-item:first-child {
		border-left: none;
		// padding-left: 3em;
	}
	/*display: flex;*/

	.menu-item a {
		font-weight: 500;
	}

	.menu-item:hover .sub {
		display: flex;
		// background-color: white;
	}

	.menu-item:hover .sub-nav {
		display: grid;
	}

	.sub {
		background-color: $bmcc-blue;
		position: absolute;
		left: 0;
		right: 0;
		flex-wrap: wrap;
		// background-color: transparent;
		transition: background-color 300ms ease-in-out;
		// border-top: 2px solid $text-color;
		border-bottom: 2px solid $text-color;
		border-top: 2px solid $text-color;
		padding-top: 1em;
		// flex-direction: column;
		// align-items: flex-end;

		a {
			font-weight: 300;
			// font-size: 1.5rem;
		}

		.sub-menu-item {
			line-height: 2.5em;
			margin: 0 2em;
		}
	}

	#showcase-menu {
		// display: grid;
		grid-template-columns: repeat(5, 1fr);

		#portfolio-nav { grid-column: 4/5; }

		#alumni-nav { grid-column: 5/6; }
	}

	#course-menu {
		// display: grid;
		grid-template-columns: repeat(4, 1fr);

		// #portfolio-nav { grid-column: 4/5; }

		// #alumni-nav { grid-column: 5/6; }
	}

	.sub-nav-menu-item {

		line-height: 1.5em;
		text-align: left;
		// a { text-decoration: underline; }
		margin: 1em;

		.sub-menu-item {
			font-size: 0.75em;
			// a { text-decoration: none; }
			margin: 0;
		}
	}

}

#course-menu {
	.menu-item a { font-size: 0.85em; }
}


.menu {

	// background-color: $bmcc-blue;

	color: $text-color;
	& a { color: $text-color; }
	
	font-family: $text;
	font-weight: 300;
	display: flex;
  	justify-content: flex-end;

	display: none;
	
	&.open { display: flex; }
	
	.menu-item {
		// flex: 1 0 auto;
		font-size: 1.3em;
		text-align: center;
		// border-bottom: 2px solid $bmcc-orange;
		// border-left: 2px solid $bmcc-orange;
		// border-bottom: 2px solid $text-color;
		padding: 0 1em;
		cursor: pointer;
		transition: background-color 300ms;

		/*line-height: 0;*/
		line-height: 2;

 		&:hover { 
			background-color: $bmcc-orange;
 		}

 		&:hover {
 			// text-decoration: underline;
 			// border-bottom: 2px solid $bmcc-orange;
 		}
	}

	&.course .menu-item {
 		font-size: 1.5em;
 	}

 	&#major-menu, &#course-menu {
 		.menu-item {
 			// border-left: 2px solid $text-color;
			// margin-left: -2px; /* hacky fix for row beginnings */
 		}
 	}


}

