/* individual student project pages */

.single {

	a { text-decoration: underline; }
	a:hover { 
		background: linear-gradient(
			to bottom, 
			transparent 50%, 
			$bmcc-orange 50%,
			$bmcc-orange 100%
		); 
	}

	.post {
		margin: 0 1em;
	}

	.post-header {

		font-family: $text;
		position: relative;
	
		max-width: 1280px;
		margin: 0 auto;
		padding-top: 1em;

		display: grid;
		grid-template-areas: 
			"title course"
			"student major";
		align-items: end;

		
		.title {
			font-size: 4em;
			// background:  $bmcc-blue;
			line-height: 1.25;
			grid-area: title;
			margin-left: -0.09em; /*  fix for white space on left margin */
		}

		.student {
			font-size: 2em;
			grid-area: student;
		}

		.course {
			grid-area: course;
		}

		.major {
			grid-area: major;
		}

		.major, .course {
			font-size: 1.5em;
			text-align: right;
		}



	}

	
	.content {
		margin-top: 0;
		padding: 0;
	}

	.post-footer {
		
		display: flex;
		border-bottom: 2px solid $text-color;

		.menu-item {
			border-bottom: none;
			border-left-color: $text-color;
			border-top: 2px solid $text-color;
			height: 2em;
		}

		.menu-item:first-child {
			border-left: none;
		}
	}

	.main-content {
		
		max-width: 1280px;
		margin: 1em auto;

		font-family: $body;
		font-size: 1.5em;
		color: $text-color;

		a:hover { 
			background: linear-gradient(
				to bottom, 
				transparent 50%, 
				$bmcc-orange 50%,
				$bmcc-orange 80%, 
				transparent 80%
			); 
		}
		

		/* center images */
		text-align: center;
		p {
			text-align: left;
		}

		img {
			max-width: 100%;
			height: auto;
		}

		div { margin: 0 auto; }

		iframe {
			width: 100%;
			margin: 1em auto;
		}

		.gallery { display: none; } /* temp fix until standards established */
	}
}