/* individual student project pages */

.single {

	
	/* sticking post-footer to bottom  */
	#content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.post, .post-footer {
	}
	
	.post {
		opacity: 0;
		transition: opacity 400ms ease-in;
		margin: 0 auto;
		display: grid;
		grid-template-areas: 
			"title course"
			"student major"
			"content content";
		align-items: end;
		max-width: 1280px;
		width: 100%;
		position: relative;
		padding: 1em;

		a { text-decoration: underline; }
		a:hover { 
			background: linear-gradient(
				to bottom, 
				transparent 50%, 
				$bmcc-orange 50%,
				$bmcc-orange 100%
			); 
		}
	}
	
	.title, .student, .course, .major {
		font-family: $text;
	}

	.title {
		font-size: 4em;
		line-height: 1.25;
		grid-area: title;
		margin-left: -0.09em; /*  fix for white space on left margin */
	}

	.student {
		font-size: 2em;
		grid-area: student;
	}

	.course {
		grid-area: course;
	}

	.major {
		grid-area: major;
	}

	.major, .course {
		font-size: 1.5em;
		text-align: right;
	}
	
	.content {
		grid-area: content;
		margin-top: 1em;
		padding: 0;
		max-width: 1280px;
		

		font-family: $body;
		font-size: 1.5em;
		color: $text-color;

		a:hover { 
			background: linear-gradient(
				to bottom, 
				transparent 50%, 
				$bmcc-orange 50%,
				$bmcc-orange 80%, 
				transparent 80%
			); 
		}
		
		/* center images */
		text-align: center;
		p {
			text-align: left;
		}

		img {
			max-width: 100%;
			height: auto;
		}

		div { margin: 0 auto; }

		iframe {
			width: 100%;
			margin: 1em auto;
		}

		.gallery { display: none; } /* temp fix until standards established */

		/* fixing stupid unresponsive video 
			https://cfxdesign.com/how-to-make-the-wordpress-video-shortcode-responsive/ */
		.wp-video {
			width: 1280px;
			height: 720px;
			position: relative;
		}
		.wp-video iframe,
		.wp-video video {
			width: auto;
			height: auto;
			max-width: 100%;
			&:focus {
				outline: none;
			}
		}

		/* vimeo and youtube  */
		.responsive-container {
			position: relative;
			padding-bottom: 56.25%;
			overflow: hidden;
		}

		.responsive-container iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			margin: 0;
		}

	}

	.post-footer {
		
		display: flex;
		border-bottom: 2px solid $text-color;

		.menu-item {
			border-bottom: none;
			border-left: 2px solid $text-color;
			border-top: 2px solid $text-color;
			height: 2em;
		}

		.menu-item:first-child {
			border-left: none;
		}
	}
}