/* main styles */

@use 'variables' as *;
@use 'archive' as *;
@use 'footer' as *;
@use 'front' as *;
@use 'layout' as *;
@use 'menu' as *;
@use 'mobile' as *;
@use 'page' as *;
@use 'responsive' as *;
@use 'single' as *;
@use 'tablet' as *;

* { box-sizing:border-box; }

body {
	margin: 0;
	padding: 0;
}

a { 
	text-decoration: none;
	color: $text-color;
	&:hover {
		text-decoration: underline;
	}
}

p { max-width: 1024px; }

strong { 
	color: $orange; 
	font-weight: normal;
}
